@import 'fonts.css';
@import 'icons.css';
*::before, *::after{
  font-family: 'icons';
}
:root{
    --dark:#313131;
    
    --white:#ffffffff;
}
body{
  /* background: var(--dark); */
}
.row{
  
}
.navbar{
  width: 100%;
  background-color: var(--dark);
  padding: 0;
}
.navbar_list{
  display: flex;
  align-items: center;
}
.navbar_list a{
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Notosans';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--white);
}
.English{
  margin-right:74px ;
}
.phone{
  margin-right: 30px;
}
.sign{
  margin-right: 40px;
}
.navbar-toggler{
  color: red;
  font-family: 'Notosans';
  font-weight: 700;
  box-shadow: none !important;
}
.logo, .inputi{
  /* border: 1px solid red; */
  padding: 0;
}
.header{
  padding-top: 18px;
}
.logo{
  display: flex;
  align-items: center;
}

.logo h1{
  font-size: 24px;
  font-family: 'Notosans';
  font-weight: 700;
  line-height: 20px;
  color: var(--dark);
}
.inputi{
  margin-left: 140px;
  /* border: 1px solid red; */
}
form{
  width: 100%;
}
.inputi form{
  display: flex;
}
.inputi form input{
  width: 630px;
  height: 50px;
}
.inputi form button{
  width: 190px;
  height: 50px;
  background: var(--dark);
  font-family: 'Notosans';
  font-size: 14px;
  letter-spacing: -0.7px;
  line-height: 19px;
  text-align: center;
  font-weight: 400;
  color: var(--white);
  border: none;
  outline: none !important;
  /* padding-left: 14px; */
}
.section{
  margin-top: 35px;
}
.acor{
  /* border: 1px solid blue; */
  /* min-height: 40px; */
  padding: 0;
}
.acor ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
.acor li{
  list-style: none;
}
.acor li a{
  text-decoration: none;
  font-family: 'Notosans';
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  /* line-height: 70px; */
  color: var(--dark);
}
.modal-body{
  display: flex;
  flex-direction: column;
}
.modal-body input{
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  outline: none;
  font-size: 16px;
  line-height: 20px;
}
.modal_btn{
  padding: 8px 23px;
  border: none;
  background:var(--dark) ;
  color: var(--white);
  font-size: 15px;
  line-height: 18px;
  outline: none !important;
}
.carousel{
  width: 100%;
  min-height: 600px;
  padding-top: 23px;
}
.slide_item_1 img{
  width: 100%;
}
.slide_item_2{
  padding-top: 100px;
}
.slide_item_2 h2{
  font-family: 'Notosans';
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: var(--dark);
  text-align: center;
  margin-bottom: 120px;
}
.slide_item_2 a{
  padding: 12px 46px;
  background: var(--dark);
  font-family: 'Notosans';
  font-weight: 400;
  color: var(--white);
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}
.icon-next{
  color: black;
  font-size: 25px;
}
.icon-prev{
  color: black;
  font-size: 25px;
}
.carousel-indicators li{
  background-color: #ABABAB;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 25px;
  border: none;
}
.carousel-indicators .active{
  background: var(--dark);
}
.headersik{
  padding-top: 20px;
}
.header1, .header2{
  min-height: 500px;
  /* border: 1px solid black; */
  padding: 0;
}
.header1{
  position: relative;
  display: flex;
  background: #F4F4F4;
  width: 630px;
}
.header_text{
  position: absolute;
  padding: 20px 0 15px 20px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.spam{
  padding: 15px 10px;
  background: var(--dark);
  display: inline-flex;
  width: 70px;
  border-radius: 50%;
  color: var(--white);
  font-size: 20px;
  /* line-height: 23px; */
  font-family: 'Notosans';
  font-weight: 400;
}
.premium{
  display: flex;
  flex-direction: column;
  font-family: 'Notosans';
  font-weight: 400;
  color: var(--dark);
  font-size: 24px;
}
.airpods{
  width: 100%;
  /* border: 1px solid black; */
  min-height: 235px;
  background: #F4F4F4;
  position: relative;
  display: flex;
}
.airpods_text{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px 0 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.apple{
  width: 100%;
  min-height: 235px;
}
.power, .kulaklik{
  width: 300px;
  height: 100%;
  background: #F4F4F4;
}
.power{
  display: flex;
  position: relative;
}
.power_item{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 20px 15px;
}
.kulaklik{
  display: flex;
  position: relative;
}
.kulaklik_item{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 20px 15px;
}













.section_2, .xiomi{
  margin-top: 70px;
}
.section_2 .col-3{
  /* border: 1px solid black; */
}
.section_2 p, .samsung p, .xiomi p{
  margin-top: -70px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Notosans';
  font-weight: 400;
  color: var(--dark);
}
.section_2 span, .samsung span, .xiomi span{ 
  font-size: 16px;
  line-height: 22px;
  font-family: 'Notosans';
  font-weight: 400;
  color: var(--dark);
}
.section_2 h2, .samsung h2, .xiomi h2{
  font-family: 'Notosans';
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: var(--dark);
}
.section_2 .learn, .samsung .learn, .xiomi .learn, .vr a {
  padding: 13px 28px;
  background: var(--dark);
  width: 190px;
  margin-top: 60px;
  font-family: 'Notosans';
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: var(--white);  
  text-decoration: none;
}
.section_3{
  margin-top: 70px;
}
.section_3 p{
  margin-top: -65px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Notosans';
  font-weight: 400;
  color: var(--dark);
}
.section_3 span{
  font-size: 16px;
  line-height: 22px;
  font-family: 'Notosans';
  font-weight: 400;
  color: var(--dark);
}
.section_3 h2{
  font-family: 'Notosans';
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: var(--dark);
}
.section_3 a{
  padding: 13px 28px;
  background: var(--dark);
  width: 190px;
  margin-top: 60px;
  font-family: 'Notosans';
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: var(--white);  
  text-decoration: none;
}
.playstation{
  margin-top: 164px;
}
.content_pl h3{
  font-family: 'Notosans';
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: var(--dark);
  margin-top: 20px;
}
.content_pl a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 40px;
  background: var(--dark);
  text-decoration: none;
  width: 190px;
  border: none !important;
  outline: none !important;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  font-family: 'Notosans';
  font-weight: 400;
  margin-top: 83px;
  color: var(--white);
}
.img_pl{
  position: absolute;
}
.section_4{
  margin-top: 100px;
}
.section_4 h2{
  font-family: 'Notosans';
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: var(--dark);
}
.section_4 p{
  margin-top: -65px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Notosans';
  font-weight: 400;
  color: var(--dark);
}
.section_4 span{
  font-size: 16px;
  line-height: 22px;
  font-family: 'Notosans';
  font-weight: 400;
  color: var(--dark);
}
.section_4 a{
  padding: 13px 28px;
  background: var(--dark);
  width: 190px;
  margin-top: 60px;
  font-family: 'Notosans';
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: var(--white);  
  text-decoration: none;
}

.footer{
  width: 100%;
  min-height: 230px;
  background: var(--dark);
  margin-top: 70px;
  padding-top: 30px;
}
.footer1,.footer2,.footer3{
  /* border: 1px solid red; */
  min-height: 40px;
}
.footer1 h1{
  font-size: 24px;
  font-family: 'Notosans';
  font-weight: 700;
  line-height: 20px;
  color: var(--white);
}
.footer2 h3{
  font-size: 18px;
  line-height: 25px;
  font-family: 'Notosans';
  font-weight: 400;
  color: var(--white);
}
.footer2 form{
  display: flex;
  width: 100%;
}
.footer2 form input{
  width: 330px;
  height: 50px;
  border: none;
  outline: none !important;
}
.footer2 form button{
  width: 190px;
  height: 50px;
  border: none;
  outline: none !important;
  background: var(--dark);
  font-size: 18px;
  line-height: 25px;
  font-family: 'Notosans';
  font-weight: 400;
  text-align: center;
  color: var(--white);
}
.footer2 ul{
 padding-left:5px ;
  display: flex;
}
.footer2 ul li{
  list-style: none;
}
.footer2 ul li a{
  text-decoration: none;
  display: flex;
  margin: 50px 30px 0 0;
  font-size: 18px;
  line-height: 25px;
  font-family: 'Notosans';
  font-weight: 400;
  color: var(--white);
  text-align: center;
}
.footer3{
  display: flex;
  justify-content: space-between;
}
.footer3 a{
  margin-top: 35px;
}
.buy{
  padding: 5px 35px;
  font-size: 14px;
  line-height: 19px;
  margin-top: 15px;
  margin-bottom: 24px;
  display: none;
  text-decoration: none;
  background: var(--dark);
  color: var(--white);
  font-family: 'Notosans';
  font-weight: 400;
}
.section_2 .col-3:hover .buy{
  display: block;
}
.section_2 .col-3:hover{
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5)
}
.samsung{
  padding-top: 70px;
}
.samsung p{
  margin-top: -70px;
}
.samsung .col-3:hover .buy{
  display: block;
}
.samsung .col-3:hover{
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5)
}
.xiomi .col-3:hover .buy{
  display: block;
}
.xiomi .col-3:hover{
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5)
}
.xbox{
  margin-top: 70px;
}
.xbox_text h2{
  font-family: 'Notosans';
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: var(--dark);
}
.xbox_text p{
  font-size: 24px;
  line-height: 33px;
  font-family: 'Notosans';
  font-weight: 400;
  color: var(--dark);
  width: 454px;
 
}
.iphone12{
  margin-top: 50px;
}
.iphone12 .col-1 {
  padding-top: 50px;
}
.iphone12 .col-1 img{
  margin-bottom: 30px;
}
.iphone12 h2{
  font-family: 'Notosans';
  font-weight: 600;
  font-size: 30px;
  line-height: 70px;
  color: black;
}
.iphone12 span{
  font-family: 'Notosans';
  font-weight: 400;
  font-size: 24px;
  line-height: 70px;  
  color: #000000;
}
.iphone12 h3{
  font-family: 'Notosans';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.iphone12 ul li{
  font-size: 14px;
  line-height: 25px;
  font-family: 'Notosans';
  font-weight: 400;
  color: black;
}
.iphone12 a{
  margin-left: 15px;
}
.bull{
  text-decoration: none;
  padding: 12px 54px;
  background: var(--dark);
  color: var(--white);
  font-family: 'Notosans';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-left: 30px;
}
.cart{
  text-decoration: none;
  padding: 12px 54px;
  background: var(--dark);
  color: var(--white);
  font-family: 'Notosans';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
.cart span{
  color: var(--white);
  font-size: 20px;
}
.vr{
  margin-top: 40px;
}
.vr h2{
  font-size: 48px;
  line-height: 65px;
  font-family: 'Notosans';
  font-weight: 700;
  color: var(--dark);
  width: 100%;
}
.vr p{
  font-family: 'Notosans';
  font-weight: 400;
  color: var(--dark);
  font-size: 24px;
  line-height: 33px;
  margin-left: 34px;
}
.vr a{
  margin-top: 116px;
}















@media (max-width: 1399.9px) {
  .header1{
    width: 100%;
  }
  .inputi{
    margin: 0;
  }
  .inputi form{
    justify-content: center;
  }
  .acor ul a{
    padding: 0 5px;
    font-size: 15px;
  }
  .headersik{
    border: 1px solid black;
  }
  .header1{
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .airpods{
    align-items: center;
    justify-content: center;
  }
  .vr .col-7{
    display: none !important;
  }
  .vr .super h2{
    display: flex;
    justify-content: center;
  }
  .vr .super p{
    margin: 0;
  }
}
@media (max-width: 1199.9px) {
  .acor ul a{
    font-size: 13px;
  }
  .footer3{
    display: none;
  }
  .iphone12 .mini{
    display: none !important;
  }
  .big, .text_big{
    width: 50%;
  }
  
}
@media (max-width: 991.9px) {
  .acor ul a{
    padding: 0 3px;
    font-size: 9px;
  }
  .footer1{
    display: none;
  }
  .footer2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer2 form{
    justify-content: center;
    margin-top: 10px;
  }
  .big{
    display: none !important;
  }
  .text_big{
    width: 100%;
    text-align: center;
  }
  .text_big ul li{
    text-align: left;
  }
 
}
@media (max-width: 767.9px) {
  .acor ul{
    flex-direction: column;
    align-items: center;
  }
  .acor ul a{
    font-size: 18px;
    display: flex;
    margin-bottom: 10px;
  }
  .slide_item_1 img{
    display: none;
  }
  .slide_item_2{
    width: 100%;
  }
  .airpods{
    margin-bottom: 30px;
  }
  .power, .kulaklik{
    width: 100%;
    height: 235px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
  }
  .super p{
    text-align: center;
  }
  .super h2{
    text-align: center;
  }
}
@media (max-width: 575.9px) {
  .section_2 .col-3{
    width: 100%;
  }
  .section_3 .col-3{
    width: 100%;
  }
  .section_4 .col-3{
    width: 100%;
  }
  .inputi, .logo{
    width: 100%;
  }
  .inputi button{
    font-size: 12px !important;
    width: 70px;
  }
  .footer2{
    width: 100%;
  }
  .header1 ,.header2{
    width: 100%;
  }
  .airpods, .power, .kulaklik{
    width: 100%;
  }
  .samsung .col-3{
    width: 100%;
  }
  .xiomi .col-3{
    width: 100%;
  }
}
@media (max-width: 480px) {
  .iphone12  .cart, .bull{
    padding: 5px 20px;
  } 
}
@media (max-width: 320px) {}
